<phpunit colors="true">
	<testsuite name="Sniff Tests">
		<directory>.</directory>
	</testsuite>

	<logging>
		<log type="coverage-html" target="../scripts/build/coverage" charset="UTF-8" yui="true" highlight="true" lowupperbound="50" highlowerbound="80" />
		<log type="junit" target="../scripts/build/logs/phpunit.xml" />
                <log type="coverage-clover" target="../scripts/build/logs/phpunit.coverage.xml"/>
	</logging>
</phpunit>
